
.body{
    height: 100vh;    
    display: grid;
    place-content: center;
    background: black;

}
.signContainer{
    padding: 40px;
    border: 8px solid #000;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);
    border-radius: 20px 20px;
}
.signContainer .form{
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.form h2{
    color: ghostwhite;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.form .inputbox{
    position: relative;
    width: 300px;
}
.form .inputbox input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background-color: #000;
    border: 1px solid rgba(0,0,0,0.1);
    color: ghostwhite;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35);
    transition: all 0.5s;    
}
.form .inputbox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: all 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255,255,255,0.5);

}

.form .inputbox input:valid ~ span,
.form .inputbox input:focus ~ span
{
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 2px 10px;
    border-radius: 10px;
    letter-spacing: 0.1em;

}
.form .inputbox input:valid ,
.form .inputbox input:focus 
{
    border: 1px solid #000;
}

.inputbox input[type='submit']{
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);   
}
.form p{
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    font-size: 0.75em;
}
.form p a{
    font-weight: 500;
    color: antiquewhite;
    font-size: 18px;
    text-decoration: none;
}
  